<%# <%= turbo_frame_tag "weather-form", class: "flex flex-1 self-stretch" do %>
  <%= form_with url: weather_index_path, method: :post, class: "flex flex-1 flex-row", data: { turbo_frame: "main"} do |form| %>
  <div class="grid grid-cols-1 w-96">
    <input type="address" name="address" aria-label="Address" class="col-start-1 row-start-1 block size-full bg-white pl-8 text-base text-gray-900 outline-hidden placeholder:text-gray-400 sm:text-sm/6" placeholder="1950 S Holly St, Denver, CO 80222">
    <svg class="pointer-events-none col-start-1 row-start-1 size-5 self-center text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
      <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z" clip-rule="evenodd" />
    </svg>
  </div>
  <%= form.submit "Search", class: "rounded-md bg-blue-700 m-2 px-3 py-2 text-sm font-medium text-white" %>
  <% end %>
<%# <% end %>