<%= turbo_frame_tag "main", class: "flex flex-1 self-stretch" do %>
  <%= turbo_stream_from(session[:session_id], "forecast") if session[:session_id].present? %>
  <% flash.each do |key, value| %>
    <div class="text-center">
      <div role="status">
        <span class="text-sm font-light text-gray-900 dark:text-gray-400 "><%= value %></span>
      </div>
    </div>
  <% end %>

<% end %>
